*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #83B271;
    margin-bottom: 100px;


}
header {
    background: white;
    padding: 0px;
    color: var(--color-primary);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
img{
    width:120px;
    height:120px;
    vertical-align: bottom;
    margin-left: 10px;
}
#image1{
    width: 19.5%;
    height: auto;
    float: left;
    padding: 0px;
    position: absolute;
    left:2.5%;
    top:350px;
}
#image2{
    width: 20.3%;
    height: auto;
    float: left;
    padding: 0px;
    position: absolute;
    right:2.5%;
    top:350px;

}
#image3{
    width: 100%;
    height: auto;
    float: left;
    padding: 0px;
    position: absolute;
    left: -0.64%;
    top: 150px;
}
.roundedcorners{
    border-radius: 20px;
    box-shadow:0 3px 10px rgb(0, 0, 0);
}
.flip-horizontally {
    transform: scaleX(-1);
}
.flip-vertically {
    transform: scaleY(-1);
}
.imagery{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
h1{
    padding: 20px;
    display:inline-table;
    position: absolute;
    font-size: 60px;
    top: 5px;
    right: 520px;
    width: 200px;
    height: 100px;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 72px;
    text-align: center;
    line-height: 2;
    text-shadow: -2px 4px 2px #666666;
    margin: auto;
    top: 200px;
    height: 50%;
    font-family: 'Franklin';

}
h3{
    text-align: center;
    margin-bottom:1%;
    top: 10px;
    text-decoration: underline;
    font-size: 22px;
    width: 100%;
    font-family: Elephant;
}
h4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 42px;
    text-align: center;
    text-shadow: -2px 4px 2px #666666;
    height: 50%;
    font-family: 'Franklin';
    white-space: normal;
}
.container1 {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
li{
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    margin-top: 2.3%;

}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin: auto;
    margin-top: 3%;
    height: 5%;
    font-family: 'Franklin';
    font-size: 20px;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 10px;
    white-space: nowrap;
}

a{
    text-decoration: none;
    font-family:'Platnomor';
    padding-left:50px;
    padding-right:50px;
    font-weight: bold;
    color:black;
    font-size: 21px;
    display:block;
        

}
.textBox {
    background-color: #ffffff;
    text-align:center;
    font-family: Georgia, serif;
    margin:auto;
    border: 2px solid rgb(0, 0, 0);
    padding: 25px;
    border-radius: 15px;
    font-size: 20px;
    width: 50%;
    margin-top: 40px;
}
@font-face {
    font-family: Platnomor;
    src: url(../docs/PlatNomor.ttf);
}
@font-face {
    font-family: Franklin;
    src: url(../docs/FranklinGothicHeavyRegular.ttf);
}
@font-face {
    font-family: Elephant;
    src: url(../docs/ElephantV1.ttf);   
}
@font-face {
    font-family: Raleway;
    src: url(../docs/Raleway-ThinItalic.ttf);
}
@font-face {
    font-family: RalewayBold;
    src: url(../docs/Raleway-Bold.ttf);
}
@media only screen and (max-device-width: 1144px) {
    .textBox {
        background: rgb(255, 255, 255);
        
    }
    .roundedcorners{
        margin-top:50px;
    }
  }
  @media only screen and (max-device-width: 750px) {
    .textBox {
        background: rgb(255, 255, 255);
        width:90%;
        
    }
    .roundedcorners{
        display:none
    }
  }
  @media only screen and (max-device-width: 600px) {
    .textBox {
        background: rgb(255, 255, 255);
        
        
    }
    .button{
        width:25%;
        font-size: 40px;

    }
    .fifty{
        font-size: 130px;
    }
    .people{
        font-size: 60px;
    }
    .container{
        font-size:16px;
    }
    
  }


  .footer {
    position:fixed;
    bottom:0;
    width:100%;
    background-color: #454545;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    padding-bottom:60px;
    font-size: 13px;
    height: 60px;
    line-height: 60px;
    text-align: center;
      
 }
 #footer1{
    position:absolute;
    right:165px;
    bottom:13px;
}
#footer2{
    position:absolute;
    right:30px;
    bottom:13px;
}
#footer3{
    position:absolute;
    right:95px;
    bottom:13px;
}
#footer4{
    position:absolute;
    right:235px;
    bottom:5px;
}

.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: relative;
    width: 100%;
    z-index:1;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
  }
  .dropdown-content a{
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px;
    background-color: white;
    z-index:-1;

  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #83B271;
  }


.footertext{
    font-size: 13px;
    overflow-wrap: break-word;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-indent:-240px;
}

@media only screen and (max-device-width: 1630px) {
    .footertext{
        font-size: 12px;
    }
}

@media only screen and (max-device-width: 1500px) {
    .footertext{
        font-size: 11px;
    }
}

@media only screen and (max-device-width: 1416px) {
    .footertext{
        font-size: 10px;
    }
}

@media only screen and (max-device-width: 1313px) {
    .footertext{
        font-size: 9px;
    }
}

.footern1 {
    position:fixed;
    bottom:0;
    width:100%;
    background-color: #454545;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    padding-bottom:60px;
    font-size: 13px;
    height: 60px;
    line-height: 30px;
    text-align: center;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header menu menu'
    'main main right right';
  grid-gap: px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}