*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #83B271;

}
header {
    background: #ffffff;
    padding: 0px;
    color: var(--color-primary);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
img{
    width:120px;
    height:120px;
    vertical-align: bottom;
    margin-left: 10px;
}
h1{
    padding: 20px;
    display:inline-table;
    position: absolute;
    font-size: 60px;
    top: 5px;
    right: 520px;
    width: 200px;
    height: 100px;
    

}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 42px;
    text-align: center;
    line-height: 3;
    margin: auto;
    top: 200px;
    height: 50%;
    font-family: 'Franklin';

}
h3{
    text-align: center;
    margin-bottom:1%;
    top: 10px;
    text-decoration: underline;
    font-size: 22px;
    width: 100%;
    font-family: Elephant;
}
.container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
li{
    background: var(--color-success);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    margin-top: 2.3%;
    
    
}
a{
    text-decoration: none;
    font-family:'Platnomor';
    font-size: 20px;
    font-weight: bold;
    color:black;

}
@font-face {
    font-family: Platnomor;
    src: url(/docs/PlatNomor.ttf);
}
@font-face {
    font-family: Franklin;
    src: url(/docs/Franklin\ Gothic\ Heavy\ Regular.ttf);
}
@font-face {
    font-family: Elephant;
    src: url(/docs/Elephant\ V1.ttf);
}
.textBox {
    background-color: #ffffff;
    text-align:center;
    font-family: Georgia, serif;
    margin:auto;
    border: 2px solid rgb(0, 0, 0);
    padding: 25px;
    border-radius: 15px;
    font-size: 20px;
    width: 50%;
    margin-top: 1%;
}
